<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
     <search>
        <configuration>
           <indexes>
              <index id="system">
                 <locations>
                    <master>
                       <patch:attribute name="type">Sitecore.Taxonomies.Crawler, Sitecore.Taxonomies</patch:attribute>
                    </master>
                 </locations>
              </index>
           </indexes>
        </configuration>
     </search>
     <commands>
        <command name="taxonomy:set" type="Sitecore.Shell.Applications.Taxonomy.Commands.SetTags, Sitecore.Taxonomies"/>
       <command name="taxonomy:select" type="Sitecore.Shell.Applications.Taxonomy.Commands.SelectTags, Sitecore.Taxonomies"/>
       <command name="taxonomy:webedit:checktags" type="Sitecore.Shell.Applications.Taxonomy.Commands.CheckTags, Sitecore.Taxonomies"/>
     </commands>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.Taxonomies.Source.TagSynchronization, Sitecore.Taxonomies" method="OnItemSaved" />
      </event>
      <event name="item:deleted">
        <handler type="Sitecore.Taxonomies.Source.TagSynchronization, Sitecore.Taxonomies" method="OnItemDeleted" />
      </event>
    </events>
    <pipelines>
      <renderField>
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.SetParameters, Sitecore.Kernel']" type="Sitecore.Taxonomies.Piplines.RenderField.SetParameters, Sitecore.Taxonomies" />
        <processor patch:before="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel']" type="Sitecore.Taxonomies.Pipelines.RenderField.GetClassificationFieldValue, Sitecore.Taxonomies"/>
      </renderField>
    </pipelines>
    <pageextenders>
      <pageextender type="Sitecore.Taxonomies.Layouts.PageExtenders.ClassificationPageExtender, Sitecore.Taxonomies"/>
    </pageextenders>
    <processors>
      <saveUI>
        <processor mode="on" patch:after="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="Sitecore.Taxonomies.Pipelines.Save.SaveClassificationField, Sitecore.Taxonomies"  />
      </saveUI>
    </processors>
    
  </sitecore>
</configuration>